[Desktop Entry]
Type=Application
Name=Google Calendar
Comment=Open Google Calendar
Exec=xdg-open https://calendar.google.com
Icon=/home/matthew/dotfiles/Icons/google-calendar.png
Terminal=false
Categories=Office;Calendar;
StartupNotify=true
